<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1 justify-between">
      <h1 class="text-3xl font-mono">todo<span class="text-lime-500">IT</span></h1>
      <button type="button" class="text-green-700 p-6 lg:px-8 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800" (click)="logout()">Leave</button>
    </div>
  </nav>

</header>
